<center>

<h1>Jugando</h1>

<table border="1" width="300px" height="300px">
	<tr>
		<td align="center"> <h1> <a href="/0/0">p00</a> </h1> </td>
		<td align="center"> <h1> <a href="/0/1">p01</a> </h1> </td>
		<td align="center"> <h1> <a href="/0/2">p02</a> </h1> </td>
	</tr>
	<tr>
		<td align="center"> <h1> <a href="/1/0">p10</a> </h1> </td>
		<td align="center"> <h1> <a href="/1/1">p11</a> </h1> </td>
		<td align="center"> <h1> <a href="/1/2">p12</a> </h1> </td>
	</tr>
	<tr>
		<td align="center"> <h1> <a href="/2/0">p20</a> </h1> </td>
		<td align="center"> <h1> <a href="/2/1">p21</a> </h1> </td>
		<td align="center"> <h1> <a href="/2/2">p22</a> </h1> </td>
	</tr>
</table>

<br/>

<h1>Ganador: <%= "Ninguno" %></h2>

<br/>
<h1><a href="/">Juego nuevo</a></h1>

</center>
